@{
    ViewBag.Title = "Home Page";
}

<style>

    .jumbotron {
        background-image: url('/assets/images/chat5.jpg');
        /* Full height */
        height: 500px;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div class="jumbotron">
    <h1>Welcome to Chatbot Admin</h1>
    <p class="lead">Redefine your customer relationship with smart chatbots.</p>
    <p><a href="/intent/create" class="btn btn-primary btn-lg">Create Intent &nbsp; &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h2 class="panel-title">Bots that answer people’s questions</h2>
            </div>

            <div class="panel-body">
                chatbots can answer the questions your visitors ask. When the bot doesn’t have the answer, it will automatically propose alternatives (leave a message, or switch to a human agent when available)
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h2 class="panel-title">Automatically schedule sales meetings 24/7 from the chat</h2>
            </div>

            <div class="panel-body">
                Your bot automatically qualifies new leads and schedules sales meetings with the best ones from your website, 24/7. Thanks to our Calendly integration, Clustaar’s bots connect to your team’s calendars to pull their availability.


            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h2 class="panel-title">First-level support, automated and consistent</h2>
            </div>

            <div class="panel-body">
                Self-service not only helps customers find solutions faster, but it also ensures consistent support. Additionally, it helps reduce the ticket volume your helpdesk receives. Let customers search your knowledge base and find answers to the simple problems they face while using your product or service.


            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h2 class="panel-title">React faster to critical events</h2>
            </div>

            <div class="panel-body">
                Set up rules to alert the right people on your team, whenever there is urgent action on your chatbot that requires an immediate response. For example, you can alert a manager of a bad satisfaction rating, so they can follow up immediately.
            </div>
        </div>
    </div>
</div>